$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$gray-smok: #d9d9d9;
$gray-input: #e7e7e7;
$dark-grey: #444444;
$light-gray: #e6e6e6;
$line-gray: #cdcdcd;
$light-gray-bg: #eaeaea;
$light-gray-hover: #bababa;
$green: #68b738;
$green-hover: #5eaa2f;
$error: #ff8282;
