.contact {
  padding: 30px 0px;
  &-catalog {
    background-color: $gray;
  }
  @include tablet {
    padding: 60px 40px 58px 40px;
  }
  @include desktop {
    width: 570px;
    height: 201px;
    background-color: $white;
    position: absolute;
    bottom: 250px;
    left: 114px;
    z-index: 1;
    padding: 0px;
  }
}

.contact__flex {
  @include flex-all-sb;
  flex-wrap: wrap;
  @include desktop {
    height: inherit;
    padding: 0px;
    @include flex-h-center;
    column-gap: 80px;
  }
}

.contact__title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  @include tablet {
    width: 170px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contact__description {
  margin: 0px;
  &-sity {
    display: block;
    padding-top: 5px;
  }
  @include tablet {
    text-align: end;
    &-sity {
      display: block;
      padding-top: 15px;
    }
  }
  @include desktop {
    padding-right: 20px;
    text-align: start;
  }
}
