.example {
  background-color: $light-gray-bg;
  padding-bottom: 36px;
  @include tablet {
    background: linear-gradient($white 55%, $light-gray-bg 55%);
    padding-bottom: 65px;
  }
  @include desktop {
    background: linear-gradient($white 25%, $light-gray-bg 25%);
    padding-bottom: 65px;
    &__flex {
      @include flex;
      column-gap: 150px;
    }
  }
}

.example__title {
  margin: 0px;
  line-height: 40px;
  padding-top: 27px;
  margin-bottom: 33px;
  @include tablet {
    padding-top: 10px;
    margin-bottom: 70px;
  }
  @include desktop {
    padding-top: 30px;
    margin-bottom: 158px;
  }
}

.example__description {
  margin: 0px;
  margin-bottom: 25px;
  @include tablet {
    margin-bottom: 54px;
  }
  @include desktop {
    margin-bottom: 68px;
    width: 435px;
  }
}

.example__list {
  @include flex-all-center;
  flex-wrap: wrap;
  column-gap: 28px;
  margin: 0px;
  @include tablet {
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 40px;
  }
  @include desktop {
    row-gap: 30px;
  }
}

.example__box {
  position: relative;
  width: 124px;
  border: 1px solid $line-gray;
  border-radius: 3px;
  margin-bottom: 34px;
  text-align: center;
  @include tablet {
    width: 160px;
  }
}

.example__kay {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
  padding: 15px 0px;
  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__details {
  background-color: $light-gray-bg;
  font-size: 11px;
  line-height: 12px;
  margin: auto;
  width: 50px;
  text-transform: lowercase;
  padding: 0px 10px;
  position: absolute;
  top: 47px;
  left: 27px;
  @include tablet {
    width: 140px;
    font-size: 14px;
    background-color: $white;
    top: 63px;
    left: 10px;
    padding: 0px;
  }
  @include desktop {
    background-color: $light-gray-bg;
  }
}

.example__expenses {
  margin: 0;
  font-family: "Oswald";
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  @include tablet {
    font-size: 20px;
    padding-top: 10px;
    margin-left: auto;
    &-cost {
      @include flex;
      justify-content: flex-end;
      padding-top: 10px;
    }
  }
  @include desktop {
    margin-left: 0px;
    margin-right: auto;
    min-height: 27px;
    padding-top: 0px;
    &-cost {
      display: inline;
      padding-left: 60px;
    }
  }
}

.examle__cat-bg--skinny {
  width: 250px;
  height: 305px;
  background: url(../img/cat/cat-skinny.png) -18px 38px no-repeat;
  background-size: 311px 232px;
  @media (min-resolution: 2dppx) {
    background: url("../img/cat/cat-skinny@2x.png") -18px 38px no-repeat;
    background-size: 311px 232px;
  }
  @include tablet {
    width: 700px;
    min-height: 585px;
    background-position: 45px 51px;
    background-size: 630px 517px;
  }
  @include desktop {
    width: 700px;
    min-height: 518px;
    background-position: 22px 0px;
    background-size: 630px 517px;
  }
}

.examle__cat-bg--fat {
  width: 250px;
  height: 305px;
  background: url(../img/cat/cat-fat.png) -18px 38px no-repeat;
  background-size: 311px 232px;
  @media (min-resolution: 2dppx) {
    background: url("../img/cat/cat-fat@2x.png") -18px 38px no-repeat;
    background-size: 311px 232px;
  }
  @include tablet {
    width: 700px;
    min-height: 585px;
    background-position: 22px 77px;
    background-size: 576px 489px;
  }
  @include desktop {
    width: 700px;
    min-height: 518px;
    background-position: 3px -10px;
    background-size: 576px 489px;
  }
}

.examle__cat-bg {
  @include tablet {
    width: 700px;
    min-height: 588px;
    background: url(../img/cat/cat-50x50-tablet.png) 0px 30px no-repeat;
    background-size: 700px 632px;
    @media (min-resolution: 2dppx) {
      background: url("../img/cat/cat-50x50-tablet@2x.png") 0px 30px no-repeat;
      background-size: 700px 632px;
    }
  }
  @include desktop {
    min-height: 517px;
    background: url(../img/cat/cat-50x50-desktop.png) -18px -5px no-repeat;
    background-size: 700px 619px;
    @media (min-resolution: 2dppx) {
      background: url("../img/cat/cat-50x50-desktop@2x.png") -18px -7px no-repeat;
      background-size: 700px 632px;
    }
  }
}

.examle__cat-flex {
  @include flex-all-center;
}

.examle__cat-switch {
  @include flex-v-center;
  width: 69px;
  height: 14px;
  background-color: $white;
  border: 1px solid $line-gray;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0px 18px;
  @include tablet {
    width: 428px;
    height: 6px;
    background-color: $line-gray;
  }
}

.examle__cat-toggle {
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 6px;
  @include tablet {
    position: relative;
    width: 34px;
    height: 34px;
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 50%;
    transform: translateX(198px);
    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      width: 8px;
      height: 8px;
      background-color: $green;
      border-radius: 50%;
    }
    &:hover {
      box-shadow: (0px 2px 4px rgba($black, 0.19));
    }
    &:active {
      border-color: $green;
    }
  }
}

.examle__cat-btn {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  &:hover {
    border-bottom: 1px solid $black;
  }
  &:active {
    border: none;
  }
  @include tablet {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $line-gray;
  }
}
