.header {
  @include tablet {
    position: relative;
  }
}

.header__flex {
  @include flex-all-sb;
  margin-top: 11px;
  margin-bottom: 17px;
  @include tablet {
    display: inline-block;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  &--name {
    padding-left: 25px;
  }
  @include mobile {
    &--tablet {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }
  @include tablet {
    &--mobile {
      display: none;
    }
    &--desktop {
      display: none;
    }
  }
  @include desktop {
    &--tablet {
      display: none;
    }
    &--desktop {
      display: block;
    }
  }
}

.header__btn-menu {
  background-repeat: no-repeat;
  @include tablet {
    display: none;
  }
  &--close {
    background-image: url(../img/button/menu-close.svg);
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
  &--open {
    background-image: url(../img/button/menu.svg);
    background-size: 24px 16px;
    width: 24px;
    height: 16px;
  }
}
