.menu {
  display: none;
  @include tablet {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  @include desktop {
    right: 110px;
  }
}

.menu__list {
  @include tablet {
    @include flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.menu__item {
  padding: 22px 0px;
  border-top: 1px solid $light-gray;
  @include tablet {
    border: none;
    padding: 0px;
    margin-left: 35px;
  }
  @include desktop {
    z-index: 1;
  }
}

.menu__link {
  font-family: "Oswald";
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black;
  @include tablet {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 6px;
    &--active,
    &--catalog-active {
      border-bottom: 2px solid $green;
    }
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.2;
    }
  }
  @include desktop {
    font-size: 20px;
    line-height: 30px;
    color: $white;
    &--active {
      border-bottom: 2px solid $white
    }
    &--catalog {
      color: $black;
    }
  }
}
